
  <div class="modal-body">
    <%= form_for @coordonne_bancaire, remote: true, html: {style: "display: inline;"} do |f| %>
   
    <ul class="errors">
            
          </ul>
    <% if @coordonne_bancaire.code.nil?%>
 <% if CoordonneBancaire.count==0 %>
        <% code="CB0000001" %>
      <% else %>
        <% old_code=CoordonneBancaire.last.code[-7..-1] %>
        <% code="CB"+old_code.next %>
      <% end %>
      <div class="field">
       
        <%= f.text_field :code ,class: "input-large", value: code, readOnly: true %>
      </div>
    <% end %>
      <div class="field">
        
        <%= f.text_field :nom,class: "input-xlarge", "placeholder"=>"Nom du coordonné", "required"=>true %>
      </div>
      <div class="field">
        
        <%= f.text_field :description,class: "input-xxlarge", "placeholder"=>"Description du coordonné" %>
      </div>
     <% if !@coordonne_bancaire.code.nil?%>
    <div class="field">
        <%= f.label :active %>
        <%= f.check_box :is_active,value: @coordonne_bancaire.is_active %>
      </div>
    <% end %>
      <div class="modal-footer">
        <%= f.submit  class: "btn btn-large btn-primary" %>
         <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>


