<script>
 $(function (){
   $('input').tooltip();
});
</script>
<div class="modal-body">
<%= form_for @produit , remote: true, html: {style: "display: inline;"} do |f| %>
 <ul class="errors">
            
          </ul>
   
   <% if @produit.code.nil?%>
 <% if Produit.count==0 %>
        <% code="PR0000001" %>
      <% else %>
        <% old_code=Produit.last.code[-7..-1] %>
        <% code="PR"+old_code.next %>
      <% end %>
      <div class="field">
       
        <%= f.text_field :code ,class: "input-large", value: code, readOnly: true %>
      </div>
    <% end %>
 
  <div class="field">
<%= f.text_field :nom,class: "input-xlarge", "placeholder"=>"Nom Produit", "required"=>true, "title"=>"nom produit" %>
  </div>
  <div class="field">
  <%= f.label :prix_vente %> <%= f.text_field :prix_vente,:value=>@produit.code.nil? ? 0:@produit.prix_vente,class: "input-xlarge", "placeholder"=>"Prix de vente", "required"=>false, readOnly: true, "title"=>"prix vente produit"  %>
  </div>
  <div class="field">
 <%= f.label :quantite_gros %>  <%= f.text_field :quantite_gros,class: "input-xlarge", "placeholder"=>"Quantité en gros", "required"=>true, "title"=>"Quantité en gros du produit"  %>
  </div>
  <div class="field">
  <%= f.label :prix_gros %> <%= f.text_field :prix_gros,:value=>@produit.code.nil? ? 0:@produit.prix_gros,class: "input-xlarge", "placeholder"=>"prix en gros", "required"=>false , readOnly: true, "title"=>"prix en gros du produit" %>
  </div>
    <div class="field">
  <%= f.label :quantite_stock %> <%= f.text_field :quantite_stock,:value=>@produit.code.nil? ? 0:@produit.quantite_stock,class: "input-xlarge", "placeholder"=>"Quantité stock", "required"=>false, :readOnly=>true, "title"=>"quantité en stock du produit" %>
  </div>
  
  <div class="field">
  <%= f.label :seuil_warning %> <%= f.text_field :seuil_warning,class: "input-xlarge", "placeholder"=>"seuil attention!", "required"=>false,  "title"=>"seuil attention!" %>
  </div>
  
  <div class="field">
  <%= f.label :seuil_danger %> <%= f.text_field :seuil_danger,class: "input-xlarge", "placeholder"=>"seuil danger!!!", "required"=>false,  "title"=>"seuil danger!!!" %>
  </div>
   
    <div class="field">
  <%= f.label :unite %> <%= f.text_field :unite,class: "input-xlarge", "placeholder"=>"Unité", "required"=>true, "title"=>"Unité du produit"%>
  </div>
  <div class="field">
    <%= f.select :type_produit_id,TypeProduit.all(conditions: {is_active: true}).map{|p| [p.nom.force_encoding("UTF-8"),p.id]} %>
  </div>
   
    <div class="field">
    <%= f.select :rayon_id,Rayon.all(conditions: {is_active: true}).map{|p| [p.nom.force_encoding("UTF-8"),p.id]} %>
  </div>
 <% if !@produit.code.nil?%>
    <div class="field">
        <%= f.label :active %>
        <%= f.check_box :is_active,value: @produit.is_active %>
      </div>
    <% end %>
      <div class="modal-footer">
        <%= f.submit  class: "btn btn-large btn-primary" %>
         <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
</div>
