<% i=0 %>

     <% @produits.each do |produit| %>
      <tr class="odd gradeX">
        <td><%=  i+=1%></td>
        <td><%= produit.code.force_encoding("UTF-8") %></td>
        <td><%= produit.nom.force_encoding("UTF-8") %></td>
        <td><%= produit.prix_vente %></td>
        <td><%= produit.quantite_gros %></td>
        <td><%= produit.prix_gros %></td>
        <td><%= produit.quantite_stock %></td>
        <td><%= produit.unite.force_encoding("UTF-8") %></td>
        <td><%= produit.type_produit.nom.force_encoding("UTF-8") %></td>
        <td><%= produit.rayon.nom.force_encoding("UTF-8") %></td>  
        <td><%= produit.is_active.to_s %></td>
        <td><%= produit.seuil_warning %></td>
        <td><%= produit.seuil_danger %></td>
    <!--<td><#%=d.categorie.nom %></td>-->
    <td class="center"><%=link_to "Modifier",edit_produit_path(produit),remote: true,class: "btn btn-success" %></td>
 
    <td class="center"><%=link_to "Supprimer",{controller: 'produits',:action=>'delete',:id=>produit.id},remote: true,class: "btn btn-danger" %></td>
  </tr>
<% end %>
  
   
   