<div class="modal-header">
  <button data-dismiss="modal" class="close" type="button">&times;</button>
  <h3>Liste de modifications :                 <span style="padding-left: 200px;"><a href="#" class="btn btn-primary" onclick="achat_history_pdf();"> Imprimer la liste <i class="icon-white icon-print"> </i>  </a> </span> </h3>
</div>
<div class="modal-body">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
    <thead>
      <tr>
        <th>N°</th>
        <th>Code</th>
        <th>Prix achat unitaire</th>
        <th>Coût achat</th>
        <th>Marge brut</th>
        <th>Prix HT</th>
        <th>Prix Vente</th>
        <th>Quantite</th>
        <th>Raison</th>
        <th>Date achat</th>
        <th>Utilisateur</th>
        <th>Produit</th>

      </tr>
    </thead>
    <% i=0 %>
    <tbody >
      <% @achat_histories.each do |achat| %>
        <tr class="odd gradeX">
          <td><%=  i+=1%></td>
          <td><%= achat.code %></td>
          <td><%= achat.prix_achat_unitaire %></td>
          <td><%= achat.cout_achat %></td>
          <td><%= achat.marge_brut %></td>
          <td><%= achat.prix_ht %></td>
          <td><%= achat.prix_vente %></td>
          <td><%= achat.quantite %></td>
          <td><%= achat.raison %></td>
          <td><%= achat.date_achat %></td>
          <td><%= achat.user.nom.force_encoding("UTF-8") %></td>
          <td><%=h achat.produit.nom.force_encoding("UTF-8") %></td>

        </tr>
      <% end %>


    </tbody>
 </table>

</div>
<script>
 function achat_history_pdf()
  {
    
  //  document.getElementById('result').innerHTML = "<img src='/assets/roller.gif'>";

window.open('/achats/achat_history_pdf?produit_id=<%=@achat_histories.first.produit.id%>&code=<%=@achat_histories.first.code%>','_blank');
    
  }
  </script>