
<% i=0 %>
<% gt=0 %>
<% @achats.each do |achat| %>
  <tr class="odd gradeX">
    <td><%=  i+=1%></td>
    <td><%= achat.code %></td>
    <td><%= achat.prix_achat_unitaire %></td>
    <td><%= achat.marge_brut %></td>
    <td><%= achat.prix_ht %></td>
    <td><%= achat.prix_vente %></td>
    <td><%= achat.quantite %></td>
    <td><%= achat.date_achat %></td>
    <td><%= achat.user.nom.force_encoding("UTF-8") %></td>
    <td><%=h achat.produit.nom.force_encoding("UTF-8") %></td>
    <td><%=h achat.fournisseur.nom.force_encoding("UTF-8") %></td>
    <td><%=h achat.is_deleted.to_s %></td>
    <td><%=h (achat.quantite*achat.prix_achat_unitaire).to_s %></td>
    <% gt=gt + (achat.quantite*achat.prix_achat_unitaire) %>
    <% exist=AchatHistory.find_all_by_produit_id_and_code(achat.produit.id,achat.code ).count %>
    <% if exist>0 %>
     <td class="center"><%=link_to "#{"Modifications("} #{exist.to_s} )" ,{controller: 'achats',:action=>'achat_history',:id=>achat.produit.id,:code=>achat.code},remote: true,class: "btn btn-primary",title: "historique sur toute les modification de l'achat après sa création." %></td>
   <% else %>
     <td class="center"></td>
    <% end %>
     <td class="center"><%=link_to "Modifier",edit_achat_path(achat),remote: true,class: "btn btn-success" %></td>

      <td class="center"><%=link_to "Supprimer",{controller: 'achats',:action=>'delete',:id=>achat.id},remote: true,class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    <tr class="odd gradeX" >
      <td style="background-color: #35aa47; font-size: 15px; font-weight: bold;"><%=  "Grand total"%></td>
      <td><%= "-" %></td>
      <td><%= "-" %></td>
      <td><%= "-" %></td>
      <td><%= "-" %></td>
      <td><%= "-" %></td>
      <td><%= "-" %></td>
      <td><%= "-" %></td>
      <td><%= "-" %></td>
      <td><%= "-" %></td>
      <td><%="-" %></td>
       <td><%="-" %></td>
       <td><%="-" %></td>
      <td style="background-color: #B3D38D; font-size: 15px; font-weight: bold;"><%=h (gt).to_s %></td>
      <td><%="-" %></td>
      <td class="center"><%="-" %></td>

    </tr>






