<div  style="font-size: 30px; width: 100%; overflow: hidden;">
  <div style="display: inline;">
    <%=  Option.get_config_value('name') %>
  </div>

</div>

<div  style="font-size: 15px; width: 100%; overflow: hidden; padding-top: 2px;">
  <div style="display: inline;">
    <%="#{"TEL : "} #{Option.get_config_value('phone')}"%>
  </div>
  <div style="display: inline;">
    <%="#{"   B.P : "} #{Option.get_config_value('adress')}"%>
  </div>
</div>

<div  style="font-size: 30px; width: 100%; overflow: hidden; padding-top: 2px;">
  <div style="display: inline;">
    <%="#{"Email : "} #{Option.get_config_value('email')}" %>
  </div>
</div>
<u>
<div  style="font-size: 30px; width: 100%; overflow: hidden; padding-top: 15px; padding-left: 350px;">
  <div style="display: inline;">
    <%="#{"LISTE DES APPROVISIONEMENTS"}" %>
  </div>
</div>
  </u>

<div  style="font-size: 25px; width: 100%; overflow: hidden; padding-top: 15px;">
  <div style="display: inline;">
    <%="#{"Période : "} #{@debut.to_s} - #{@fin.to_s}" %><br/>
    <%  if @nom_produit %>
    <%="Produit : #{@nom_produit.force_encoding("UTF-8")}" %><br/> 
    <%  end %>
    
    <%  if @nom_fournisseur %>
    <%="Fournisseur : #{@nom_fournisseur.force_encoding("UTF-8")}" %><br/>
    <%  end %>
  </div>
</div>  
  

  <div  style="font-size: 20px; width: 100%; overflow: hidden; padding-top: 20px;">
    <table cellpadding="4" cellspacing="1" border="1" class="table table-striped table-bordered" id="example2" style="border-style: dashed;">
      <thead>
        <tr style="border-style: none;">
          <th>N°</th>
      
          <th style="border-style: none;">Prix achat unitaire</th>
          <th style="border-style: none;">Marge brut</th>
          <th style="border-style: none;">Prix HT</th>
          <th style="border-style: none;">Prix de revient</th>
          <th style="border-style: none;">Prix Vente</th>
          <% if Option.get_config_value('mode')=='2' || Option.get_config_value('mode')=='3' || Option.get_config_value('mode')=='4' %>
            <th style="border-style: none;">Quantite initial</th>
            <th style="border-style: none;">Quantite actuel</th>
          <% else %>
            <th style="border-style: none;">Quantite</th>
            <th style="border-style: none;">Qt Stock avant l'achat</th>
          <%end%>

          <th style="border-style: none;">Date achat</th>
          <th style="border-style: none;">Utilisateur</th>
          <th style="border-style: none;">Produit</th>
          <th style="border-style: none;">Fournisseur</th>
            <% if Option.get_config_value('mode')=='2' || Option.get_config_value('mode')=='3' || Option.get_config_value('mode')=='4' %>
          <th style="border-style: none;">Etat</th>
          <% end %>
          <th style="border-style: none;">Total</th>
          <th style="border-style: none;">Modifications sur l' achat</th>
          <% if Option.get_config_value('mode')=='4' %>
            <th style="border-style: none;">Sous-produits</th>

          <% end %>
         
        </tr>
      </thead>
      <tbody class="achat-index" id="result">

        <% i=0 %>
        <% gt=0 %>
        <% @achats.each do |achat| %>
          <tr style="border-style: none;" >
            <td><%=  i+=1%></td>
          
            <td style="border-style: dotted;"><%= achat.prix_achat_unitaire %></td>
            <td style="border-style: dotted;"><%= achat.marge_brut %></td>
            <td style="border-style: dotted;"><%= achat.prix_ht %></td>
            <td style="border-style: dotted;"><%= achat.prix_revient %></td>
            <td style="border-style: dotted;"><%= achat.prix_vente %></td>
            <% if Option.get_config_value('mode')=='2' || Option.get_config_value('mode')=='3' || Option.get_config_value('mode')=='4'%>
              <td style="border-style: dotted;"><%= achat.quantite %></td>
              <td style="border-style: dotted;"><%= achat.etat_stock %></td>
            <% else %>
              <td style="border-style: dotted;"><%= achat.quantite %></td>
              <td style="border-style: dotted;"><%= achat.quantite_stock_av %></td>
            <%end%>

            <td style="border-style: dotted;"><%= achat.date_achat %></td>
            <td style="border-style: dotted;"><%= achat.user.nom.force_encoding("UTF-8") %></td>
            <td style="border-style: dotted;"><%=h achat.produit.nom.force_encoding("UTF-8") %></td>
            <td style="border-style: dotted;"><%=h achat.fournisseur.nom.force_encoding("UTF-8") %></td>
           <% if Option.get_config_value('mode')=='2' || Option.get_config_value('mode')=='3' || Option.get_config_value('mode')=='4'%>
            <%if achat.is_active==true %>
              <td style="border-style: dotted;"> <%= "Utiliser"%></td>
              <%else %>
                <td style="border-style: dotted;"><%="Activer" %></td>
                <%end %>
                 <%end%>
                <td style="border-style: dotted;"><%=h (achat.quantite*achat.prix_achat_unitaire).to_s %></td>
                <% gt=gt + (achat.quantite*achat.prix_achat_unitaire) %>
                <% exist=AchatHistory.find_all_by_produit_id_and_code(achat.produit.id,achat.code ).count %>
                <% if exist>0 %>
                  <td style="border-style: dotted;"><%="#{"("} #{exist.to_s} )" %></td>
                  <% else %>
                    <td style="border-style: dotted;"></td>
                  <% end %>

                  <% if Option.get_config_value('mode')=='4' %>
                    <td style="border-style: dotted;"> <%= "( #{achat.unique_produits.count} )" %></td>

                    <% end %>
                    
                      <!--<td class="center"><#%=link_to "Supprimer",{controller: 'achats',:action=>'delete',:id=>achat.id},remote: true,class: "btn btn-danger" %></td>-->
                    </tr>
                  <% end %>
                  <tr style="background-color:#B3D38D;" >
                    <td style="background-color:#B3D38D; font-size: 20px; font-weight: bold; color: #ffffff"><%=  "Grand total"%></td>
                    
                    <td><%= "-" %></td>
                    <td><%= "-" %></td>
                    <td><%= "-" %></td>
                    <td><%= "-" %></td>
                    <td><%= "-" %></td>
                    <td><%= "-" %></td>
                    <td><%="-" %></td>
                    <td><%="-" %></td>
                    <td><%="-" %></td>
                    <td><%="-" %></td>
                     <td><%="-" %></td>
                    <% if Option.get_config_value('mode')=='2' || Option.get_config_value('mode')=='3' %>
                      <td><%="-" %></td>
                     
                    <% end %>
                    <td style="background-color: #B3D38D; font-size: 20px; font-weight: bold; color: #ffffff;"><%=h (gt).to_s %></td>
                    <td><%="-" %></td>
                   
                    <% if Option.get_config_value('mode')=='4' %>
                      <td class="center"><%="-" %></td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>





