<% i=0 %>
<% @users.each do |d| %>
  <tr class="odd gradeX">
    <td><%=  i+=1%></td>
     <!--<td><#% if d.photo.file? %>
        <#%= image_tag d.photo.url,:size => '60x60' %>
      <#% else %>
        <#%= image_tag "/assets/default_employee.png",:size => '60x60' %>
      <#% end %></td>-->
     <td><%= image_tag("/assets/personal.png")%></td>
    <td><%=  d.compte.force_encoding("UTF-8") %></td>
    <td><%=d.nom.force_encoding("UTF-8")%></td>
    <td><%=  d.prenom.force_encoding("UTF-8") %></td>
    <td><%=d.tel%></td>
    <td><%=d.date_naissance.to_s %></td>
    <td class="center"><%=link_to "Modifier",edit_user_path(d),remote: true,:class=>"btn btn-success" %></td>
    <td class="center"><%=link_to "Supprimer",{controller: 'users',action: 'delete',id: d.id},remote: true,class: "btn btn-danger" %></td>
    
  </tr>
<% end %>