 <% unless flash[:notice].nil? %>
   <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert" >&times;</button>
      <%= flash[:notice] %></div>
    <script>$.jGrowl("<%= flash[:notice] %>", {header: 'Important'});</script>
  <% end %>  
   

      <div class="row-fluid">
  <!-- block -->
  <div class="block span8 offset2">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">Users</div>
    </div>
    <div class="block-content collapse in">
      <div class="span8">
<ul class="errors" style="color: #B00100">
  </ul>
  <%=form_for :change_passe,:url=>{:controller=>"users",:action=>"first_login_change_password"},:html=> {:multipart=>true} do |c|%>
        <h2 class="form-signin-heading">Changer votre mot de passe:</h2>
        
        <%= c.password_field :passe, :class=>"input-block-level", :placeholder=>"Nouveau mot de passe",required: true,id: "passe", onblur: "verif_pass();"%>
        <%= c.password_field :verif_passe, :class=>"input-block-level", :placeholder=>"Vérifier nouveau Mot de passe",required: true,id: "verif", onblur: "verif_pass();"%>
       
        <button class="btn btn-large btn-primary" type="submit" id="b_submit">Continuer &blacktriangleright;</button>
        <%end%>
         
     
</div>
      </div>
    </div>
  </div>
 <script>
  function verif_pass()
  {
    
    var passe=$("#passe").val();
    var verif=$("#verif").val();
    if(passe==verif)
    {
     // alert("ce bon");
     $("ul.errors").html("");
     $("#verif").focus();
    document.getElementById("b_submit").disabled = false;
    }
    else
    {
      //alert("ce pas bon");
      $("ul.errors").append("$(<li />)").html("le vérfié mot de passe est différent du mot de passe");
      $("#verif").focus();
      document.getElementById("b_submit").disabled = true;
    }
  }
  
  
</script>