<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :config_key %><br>
    <%= f.text_field :config_key %>
  </div>
  <div class="field">
    <%= f.label :config_value %><br>
    <%= f.text_field :config_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
