
<div class="row-fluid">

  <% unless flash[:notice].nil? %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %></div>
    <script>$.jGrowl("<%= flash[:notice] %>", {header: 'Important'});</script>
  <% end %>
  <div class="block">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">Configurations</div>
    </div>
    <div class="block-content collapse in">
      <div class="span5 offset2">
        <div class="table-toolbar">
          <%=form_for(:option,:url=> {:controller=>"options",:action=>"new"},:html=> {:multipart=>true}) do |c| %>
          <div class="span5" style="font-weight: bold; font-size: 20px; font-style: italic; color: #93a1a1;">
                <%= 'Infos de base : ' %></div>
          <br/>
          <hr>
            <div class="row-fluid">
              <div class="span3">
                <%= 'TVA : ' %></div><div class="span3"> <%= text_field :option,:tva, :value=>@config[:tva],:class=>"input-xlarge" %></div>
            </div>
            <div class="row-fluid">
              <div class="span3">
                <%= 'Entreprise : ' %></div> <div class="span3"><%= text_field :option, :name, :value => @config[:name],:class=>"input-xlarge" %></div> </div>
            <div class="row-fluid">
              <div class="span3">
                <%= 'Téléphone : ' %></div> <div class="span3"><%= text_field :option, :phone, :value => @config[:phone],:class=>"input-xlarge" %></div> </div>
            <div class="row-fluid">
              <div class="span3">     
                <%= 'Email : ' %> </div><div class="span3"> <%= text_field :option, :email, :value => @config[:email],:class=>"input-xlarge" %></div> </div>
            <div class="row-fluid">
              <div class="span3">     
                <%= 'Adresse : ' %> </div><div class="span3"> <%= text_field :option, :adress, :value => @config[:adress],:class=>"input-xlarge" %></div> </div>
           <hr>
              <br/>   
              <div class="span5" style="font-weight: bold; font-size: 20px; font-style: italic; color: #93a1a1;">
                <%= 'Comptabilitée: ' %></div>
          <br/>
          <hr>
                 <div class="row-fluid">
              <div class="span4">     
                <%= 'Date début exercise : ' %> </div><div class="span3">  <input type="text" class="input-xlarge datepicker1" id="option_email" name="option[date_debut_exo]" value="<%= @config[:date_debut_exo] %>" title="date debut exercice" readonly="true" ></div> 
                 </div>
          <br/>
            <div class="row-fluid">
              <div class="span4">     
                <%= 'Date fin exercise : ' %> </div><div class="span3">  <input type="text" class="input-xlarge datepicker1" id="option_email" name="option[date_fin_exo]" value="<%= @config[:date_fin_exo] %>" title="date fin exercice"  readonly="true"></div> </div>
           <br/>
           <div class="row-fluid">
              <div class="span5">     
                <%= 'Entrées|Sorties :' %> </div><div class="span3">
                
                   <%= select :option,:mode,[["Simple","1"],["File(FIFO) | Pile(LIFO)","2"],["Simple & CODE-BARRE","4"],["File(FIFO) | Pile(LIFO) & CODE-BARRE","5"]].map { |t| [t[0],t[1]]  }, :selected => @config[:mode] %></div> </div>
        
            <div class="row-fluid">
              <div class="span5">     
                <%= 'Mode de valorisation :' %> </div><div class="span3" id="valoris">
                
                   <%= select :option,:valorisation,[["CUMP(par entrée)","cumpe"],["CUMP(par période)","cumpp"],["PEPS(premier entré premier sortie)","peps"],["DEPS(dernier entré premier sortie)","deps"],["NIFO(Valeur de remplacement)","nifo"]].map { |t| [t[0],t[1]]  }, :selected => @config[:valorisation]%></div> </div>
        
                  
          <div class="row-fluid">
            <hr>
              <br/>  
              <div class="span2 offset2">  
                <%= c.submit "",:value =>"► #{'Modifier'}", :class => "btn btn-large btn-primary"%></div> </div> 

          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>

<script>
 
  $("#option_mode").change(function(){
    var list_val="";
   var mode= $("#option_mode").val();
    //alert($(mode);
    if(mode=="1" || mode=="4"){
      list_val='<select id="option_valorisation" name="option[valorisation]"><option value="cumpe">CUMP(par entrée)</option> <option value="cumpp">CUMP(par période)</option><option value="nifo">NIFO(Valeur de remplacement)</option></select>';
    }
    else if(mode=="2" || mode=="5"){
       list_val='<select id="option_valorisation" name="option[valorisation]"><option value="peps">PEPS(premier entré premier sortie)</option><option value="deps">DEPS(dernier entré premier sortie)</option><option value="nifo">NIFO(Valeur de remplacement)</option></select>';

    }
    $("#valoris").html(list_val);
   
  });
  
  
</script>