<p id="notice"><%= notice %></p>

<p>
  <strong>Config key:</strong>
  <%= @option.config_key %>
</p>

<p>
  <strong>Config value:</strong>
  <%= @option.config_value %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
