<h1>Listing factures</h1>

<table>
  <thead>
    <tr>
      <th>Num</th>
      <th>Commande</th>
      <th>Client</th>
      <th>Montant</th>
      <th>Is solde</th>
      <th>Date facture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @factures.each do |facture| %>
      <tr>
        <td><%= facture.num %></td>
        <td><%= facture.commande_id %></td>
        <td><%= facture.client_id %></td>
        <td><%= facture.montant %></td>
        <td><%= facture.is_solde %></td>
        <td><%= facture.date_facture %></td>
        <td><%= link_to 'Show', facture %></td>
        <td><%= link_to 'Edit', edit_facture_path(facture) %></td>
        <td><%= link_to 'Destroy', facture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facture', new_facture_path %>
