<% i=0 %>

     <% @fournisseurs.each do |fournisseur| %>
      <tr class="odd gradeX">
        <td><%=  i+=1%></td>
        <td><%= fournisseur.code.force_encoding("UTF-8") %></td>
        <td><%= fournisseur.nom.force_encoding("UTF-8") %></td>
        <td><%= fournisseur.phone.force_encoding("UTF-8") %></td>
        <td><%= fournisseur.address.force_encoding("UTF-8") %></td>
        <td><%= fournisseur.ville.force_encoding("UTF-8") %></td>
        <td><%= fournisseur.pay.nom %></td>
        <% lien= fournisseur.coordonne_fournisseurs.count==0 ? "#{"Ajouter des coordonnés"}" : "#{"Voir ses coordonnés"}" %>
        <td class="center"><%=link_to lien,{controller: 'fournisseurs',:action=>'coordonne_bancaires',:id=>fournisseur.id},class: "btn btn-primary" %></td>
        <td><%= fournisseur.is_active.to_s %></td>
    <!--<td><#%=d.categorie.nom %></td>-->
    <td class="center"><%=link_to "Modifier",edit_fournisseur_path(fournisseur),remote: true,class: "btn btn-success" %></td>
 
    <td class="center"><%=link_to "Supprimer",{controller: 'fournisseurs',:action=>'delete',:id=>fournisseur.id},remote: true,class: "btn btn-danger" %></td>
  </tr>
<% end %>
  
   
   