<% i=0 %>
<% @categories.each do |d| %>
  <tr class="odd gradeX">
    <td><%=  i+=1%></td>
    <td><%=link_to  d.code,controller: "categories",action: "view",id: d.id %></td>
    <td><%=link_to d.nom ,controller: "categories",action: "view",id: d.id%></td>
    <td><%=d.description%></td>
    <td><%=d.is_active.to_s%></td>
    <!--<td><#%=d.categorie.nom %></td>-->
    <td class="center"><%=link_to "Modifier",edit_category_path(d),remote: true,class: "btn btn-success" %></td>
 
    <td class="center"><%=link_to "Supprimer",{controller: 'categories',:action=>'delete',:id=>d.id},remote: true,class: "btn btn-danger" %></td>
  </tr>
<% end %>