<% i=0 %>
<% @droits.each do |d| %>
  <tr class="odd gradeX">
    <td><%=  i+=1%></td>
    <td><%=  d.code.force_encoding("UTF-8") %></td>
    <td><%=d.name.force_encoding("UTF-8")%></td>
    <td><%=d.description.force_encoding("UTF-8")%></td>
    <td><%=d.category.nom.force_encoding("UTF-8")%></td>
    <td><%=d.is_active.to_s%></td>
    <!--<td><#%=d.categorie.nom %></td>-->
    <td class="center"><%=link_to "Modifier",edit_droit_path(d),remote: true,class: "btn btn-success" %></td>
 
    <td class="center"><%=link_to "Supprimer",{controller: 'droits',:action=>'delete',:id=>d.id},remote: true,class: "btn btn-danger" %></td>
  </tr>
<% end %>