<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%=  Option.get_config_value('name') %></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> <%= "#{@current_user.nom}  #{@current_user.prenom}" %> <i class="caret"></i>

            </a>
            <ul class="dropdown-menu">
              <li>
                <%=link_to "Profile",edit_user_path(@current_user),remote: true,:tabindex=>"-1" %>

              </li>
              <li class="divider"></li>
              <li>
                <a tabindex="-1" href="/users/deconnexion/0">Déconnexion</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav">
          <li class="active">
            <%=link_to "Tableau de Bord",dashboard_users_path %>
          </li>
          <%if permitted_to? :list, :commandes%>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Ventes <b class="caret"></b>

            </a>
            <ul class="dropdown-menu" id="menu1">
              <%if permitted_to? :create, :commandes%>
              <li>
                <%= link_to "Effectuer des vente",:controller => "commandes" %> <!-- <i class="icon-arrow-right"></i>-->

              </li>
               <%  end %>
              <%if permitted_to? :list, :commandes%>
              <li>
                <%= link_to "Liste des Commandes",list_commandes_path%> <!-- <i class="icon-arrow-right"></i>-->

              </li>
              <%  end %>
              <!--
              <li>
                <#%= link_to "Statistiques",:controller => "factures" %> 
              </li>
              -->


            </ul>
          </li>
           <%  end %>
           <%if permitted_to? :index, :produits%>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Produits <b class="caret"></b>

            </a>
            <ul class="dropdown-menu" id="menu1">
               <%if permitted_to? :index, :type_produits%>
              <li>
                <%= link_to "Type Produit",:controller => "type_produits" %> <!-- <i class="icon-arrow-right"></i>-->

              </li>
              <%  end %>
              <li>
                <%= link_to "Produits",:controller => "produits" %> 
              </li>
              <%if permitted_to? :index, :rayons%>
              <li>
                <%= link_to "Rayons",:controller => "rayons" %> 
              </li>
              <%  end %>
              <%if permitted_to? :index, :rayons%>
              <li>
                <%= link_to "Achats",:controller => "achats" %> 
              </li>
              <%  end %>
            </ul>
          </li>
          <%  end %>
          <%if (permitted_to? :index, :clients) || (permitted_to? :index, :fournisseurs) %>
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Ressource humaines <i class="caret"></i>

            </a>
            <ul class="dropdown-menu">
               <%if permitted_to? :index, :fournisseurs %>
              <li>
                <%= link_to "Fournisseurs",:controller => "fournisseurs" %> 
              </li>
              <%  end %>
              <%if permitted_to? :index, :clients %>
              <li>
                <%= link_to "Clients",:controller => "clients" %>
              </li> 
              <%  end %>
             
                                    <li class="dropdown-submenu">
                                        <a tableindex="-1" href="#">Salaires</a>
                                            <ul class="dropdown-menu">
                                                <li><a tableindex="-1" href="#">Catégories de salaires</a></li>
                                                <li><a tableindex="-1" href="#">Salaire des employés</a></li>
                                                <li><a tableindex="-1" href="#">Bulletins de paie</a></li>
                                            </ul>
                                    </li>
                                   
              <%if permitted_to? :index, :coordonne_bancaires %>
              <li>
                <%= link_to "coordonnés bancaires",:controller => "coordonne_bancaires" %>
              </li> 
              <%  end %>
            </ul>
          </li>
           <%  end %>
          <%if permitted_to? :index, :users %>
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Utilisateurs <i class="caret"></i>

            </a>
            <ul class="dropdown-menu">
             

              <li>
                <%= link_to "liste des utilisateurs",:controller => "users" %>
              </li>
              <li class="divider"></li>
              <%if permitted_to? :index, :groupes %>
              <li>
                <%= link_to "Groupes",:controller => "groupes" %>
              </li>
              <%  end %>
              <%if permitted_to? :index, :categories %>
              <li>
                <%= link_to "Catégorie droits",:controller => "categories" %> 
              </li>
              <%  end %>
              <%if permitted_to? :index, :droits %>
              <li>
                <%= link_to "Droits",:controller => "droits" %> 
              </li>
              <%  end %>
            </ul>
          </li>
          <%  end %>
          
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Statistiques <i class="caret"></i>

            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Bilan",controller: "statistique",action: "index_bilan" %>
              </li>
              <li>
                <%= link_to "autres",controller: "options",action: "new" %>
              </li>

            </ul>
          </li>
          
          <%if permitted_to? :new, :options %>
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Modifier les paramètres <i class="caret"></i>

            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "configurations",controller: "options",action: "new" %>
              </li>


            </ul>
          </li>
          <%  end %>
          
          
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div id="men"> 
<%= render 'layouts/menu' %>
  </div>
<div class="container-fluid">
  <div class="row-fluid">


    <!--/span-->
    <div class="span9" id="content">
      
      <div class="row-fluid">

        <div class="navbar">
          <div style="float: right;" id="back">
          <%= link_to_function image_tag("/assets/arrows_black_32.png"), "history.back()",title: 'retour' %>
        </div>
          <div class="navbar-inner">
            <ul class="breadcrumb">
              <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
              <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
              <li>
                <a href="/users/dashboard">Dashboard</a> <span class="divider">/</span>	
              </li>
               <li>
                <a href="/<%= controller_name.to_s %>"> <%= controller_name.to_s %></a> <span class="divider">/</span>	
              </li>
              <li>
               <%= action_name.gsub("_"," ").to_s %>
              </li>
             
            </ul>
          </div>
        </div>
        
      </div>
     
     